* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucinda Grande';
}
a {
  text-decoration: none;
}
.clear {
  clear: left;
}

header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-image: url('header2.jpg');
  background-size: cover;
}

.logo {
  width: 125px;
  height: 34px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: 25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  font-size: 15px;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  height: 50px;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.top-wrapper {
  padding-top: 300px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 200px;
  background-size: cover;
  color: white;
  text-align: center;
  animation: animasi 20s ease infinite;
}

@keyframes animasi {
  0%,
  100% {
    background-image: url('headerflip.jpg');
  }
  25% {
    background-image: url('e67daf68a6e8f6d4a9283cb7d64b098c.jpg');
  }
  50% {
    background-image: url('19e99d1a4f11fabb6ff97ffab9b05764.jpg');
  }
}

.top-wrapper h1 {
  opacity: 1;
  font-size: 65px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-family: 'League Spartan';
  text-align: center;
}

.top-wrapper h2 {
  opacity: 1;
  font-size: 35px;
  letter-spacing: 5px;
  margin-bottom: 8px;
  font-family: 'League Spartan';
  text-align: center;
  color: #f6b21b;
}
.top-wrapper span {
  opacity: 1;
  font-size: 20px;
  letter-spacing: 5px;
  margin-bottom: 8px;
  font-family: 'League Spartan';
  color: #fff;
}

.top-wrapper p {
  opacity: 0.9;
  margin-bottom: 3px;
  font-size: 20px;
  font-family: 'Libre Baskerville';
  font-style: italic;
  color: #fff;
}

.menu-wrapper {
  height: 1100px;
  padding-bottom: 80px;
  padding-right: 100px;
  background-image: url('haeaderflip1.jpg');
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: papayawhip;
}

.heading h3 {
  font-weight: normal;
  text-align: center;
  font-size: 50px;
}

.menu {
  float: left;
  width: 25%;
  margin-left: 80px;
  margin-right: -100px;
}

.menu-icon {
  position: relative;
  margin-right: 25px;
  transition: transform 0.2s;
  width: 200px;
  height: 200px;
  /* margin: 0 auto; */
}

.menu-icon:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

img {
  width: 200px;
  height: 150px;
}

.txt-title {
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: justify;
}

.txt-contents {
  width: 200px;
  display: inline-block;
  margin-top: 15px;
  font-size: 18px;
  color: #b3aeb5;
  font-weight: bold;
  text-align: justify;
}

.heading h3 {
  font-weight: normal;
}

.review {
  padding-left: 80px;
}

input,
textarea {
  width: 50%;
  padding: 20px 20px;
  border: 1px solid #dee7ec;
  margin-bottom: 10px;
  border-radius: 10px;
}

.review h4 {
  font-size: 28px;
  font-family: 'League Spartan';
  padding-top: 60px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  color: #f6b21b;
  border-bottom: 2px solid #dee7ec;
}

.review p {
  padding-bottom: 10px;
  padding-top: 30px;
  font-size: 20px;
  color: whitesmoke;
}

.submit {
  font-size: 15px;
  background-color: hsl(340deg 100% 32%);
  color: #889eab;
  width: 50%;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 10px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.submit:active .front {
  transform: translateY(-2px);
}

footer h5 {
  color: #b3aeb5;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
  padding-bottom: 10px;
  font-family: 'League Spartan';
}

footer p {
  color: linen;
  font-size: 15px;
  padding-top: 10px;
  text-align: center;
  font-family: 'Libre Baskerville';
  font-weight: normal;
}

footer img {
  width: 125px;
  height: 34px;
  margin-top: 20px;
}

footer {
  padding-top: 10px;
  background-color: #3d3d3d;
}
